////////////////////////////////////////////////
// CERULEAN
////////////////////////////////////////////////

@import "../utilities/light-initial-variables.scss";

$grey-accent: hsl(0, 0%, 14%);
$grey-darker: hsl(0, 0%, 21%);
$grey-dark: hsl(0, 0%, 29%);
$grey: hsl(0, 0%, 48%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);

$white: #fff;
$white-bis: #fff;
$white-ter: #f5f5f5;

////////////////////////////////////////////////

$orange: #dd5600;
$warning: $orange;
$yellow: #dab424;
$green: #73a839;
$turquoise: #5bc0de;
$blue: #033c73;
$purple: #7e5ea3;
$red: #c71c22;
$grey: #dbdbdb;

$primary: #2fa4e7 !default;
$primary-dark: #317eac;
$warning: $orange;
$info: #d8dce0;

$info-invert: #333;
$orange-invert: #fff;
$warning-invert: $orange-invert;

$family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

$title-color: $primary-dark;
$title-weight: 500;
$title-weight-bold: 700;

$subtitle-weight: 300;
$subtitle-strong-color: 500;

$box-shadow: 0 0 0 1px $grey;

$control-height: 2.375em;
